.Recipe-card-container, .sc-dPiLbb ,.ina-DuF{

  border-radius: 10px;
  box-shadow: 0px 5px 20px rgb(63, 60, 60);
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-image: linear-gradient(to right, 
      #e4afcb 0%, #b8cbb8 0%, #b8cbb8 0%, 
      #e2c58b 30%, #c2ce9c 64%, #7edbdc 100%);
  align-items: center;
  min-width: 40%;
  font-family: 'Lobster', cursive;   
}
.recipe-container{
  margin-left: 21%;
  margin-right: 15%;
}
.nutritionData{
  margin-top: 20px;
}

.g-0, .gy-0 {
  background-image: linear-gradient(to right, 
      #e4afcb 0%, #b8cbb8 0%, #b8cbb8 0%, 
      #e2c58b 30%, #c2ce9c 64%, #7edbdc 100%)

}
.sc-AjmGg, .goTzNP{
  border-radius: 25px;
  background-image: linear-gradient(to right, 
  #e4afcb 0%, #b8cbb8 0%, #b8cbb8 0%, 
  #e2c58b 30%, #c2ce9c 64%, #7edbdc 100%)
   
}
.Navbar{
  display: flex;
  background-image: linear-gradient(to right, 
      #e4afcb 0%, #b8cbb8 0%, #b8cbb8 0%, 
      #e2c58b 30%, #c2ce9c 64%, #7edbdc 100%);
}
.sideNav {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  background-color: #f5f5f5;
  border-right: 1px solid #eee;
  }


.App {
  text-align: center;
}

.img {
  height: 40vmin;
  pointer-events: none;
  
}
#searchContainer{
  display:-webkit-inline-grid;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width:60%;
  padding-top: 20px;
  margin: top 20px;
  margin-bottom:20px
}
.row{
  
  flex-direction: row;
  align-items:center;
  min-height:fit-content
  
}




.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



